body {
  font-family: 'Press Start 2P', sans-serif;
  background-image: url('https://oudkee.neocities.org/sitewide/starsky.gif'); 
  background-repeat: repeat;
  background-size: auto; 
  color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html, body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;     
  -ms-overflow-style: none;    
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  transform: scale(0.8);
  transform-origin: top center;
}

.sidebar-wide {
  grid-column: 1 / 3;
  padding: 20px;
  border: 2px solid #333;
}

.about-wide {
  grid-column: 1 / 3;
  padding: 20px;
  border: 2px solid #333;
}

.intro-box {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 1rem;
  font-size: 0.8em;
  line-height: 1.6;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px #00ffff;
}

.header {
  position: relative;
  grid-column: 1 / 4;
  height: 125px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border: 2px solid #333;
}

.header h1 {
  color:  #ffe8a3;
  font-size: 1.5em;
  z-index: 1;
  margin: 0;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  transform-origin: top center;
}

.quote-text {
  display: inline-flex;
  align-items: center;
  font-size: 0.85em;
  color: #ffffff;
  font-style: italic;
}

.author {
  margin-top: 15px;
  color: #ffcc33;
  margin-bottom: -20px;
}

.comfy-image {
  align-self: center !important;
  width: 90%;
  height: 50%;
  border: 3px solid #333;
  box-shadow: 0 0 0 5px #4ff2d2;
  margin-bottom: 15px;
  margin-top: 5px;
}

.linux-image {
  width: 75%;
}

.scroll-box {
  margin: 0 auto;
  width: 100%;
  max-width: 420px;   
  height: 350px;        
  padding: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #888;
  background: #f6f6f6;
  font-family: monospace;
  font-size: 14px;
  color: #000;
  z-index: 10;
}

.scroll-box::-webkit-scrollbar {
  width: 10px;
}

.scroll-box::-webkit-scrollbar-track {
  background: #000;
  border-left: 2px solid #888;
}

.scroll-box::-webkit-scrollbar-thumb {
  background: #aaa;
  border: 2px solid #444;
}

.tv {
  width: 100%;
  height: 45%;
  align-self: center;
  margin-top: 40px;
  margin-right: 80px;
}

.speaker-icon {
  width: 5%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 10;
}

.speaker-icon:hover {
  opacity: 0.8;
}

.wizard-image {
  width: 300px;
  height: 300px;
  border: 3px solid #333;
  box-shadow: 0 0 0 5px #4ff2d2; 
  margin-bottom: 10px;
  margin-top: 15px;
}

.wizard-image2 {
  width: 300px;
  height: 250px;
  border: 3px solid #333;
  box-shadow: 0 0 0 5px #4ff2d2; 
  margin-bottom: 25px;
}

.sidebar {
  grid-column: 1 / 2;
  padding: 10px;
  border: 2px solid #333;
  text-align: center;
}

.sidebar-bottom,
.sidebar-bottom-right {
  padding: 20px;
  background-color: #333;
  color: #fff;
  border: 2px solid #666;
  margin-top: 20px;
}

.main-content {
  grid-column: 2 / 3;
  display: grid;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  gap: 30px;
}

.sidebar-right {
  grid-column: 3 / 4;
  background-color: #f0f8ff;
  padding: 10px;
  border: 2px solid #333;
  text-align: center;
}

.nav-links a {
  display: block;
  padding: 5px;
  background-color: #e6e6fa;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  border: 2px solid #333;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #ff79b0;
}

@keyframes flicker {
  0% { opacity: 0.27861; }
  5% { opacity: 0.34769; }
  10% { opacity: 0.23604; }
  15% { opacity: 0.90626; }
  20% { opacity: 0.18128; }
  25% { opacity: 0.83891; }
  30% { opacity: 0.65583; }
  35% { opacity: 0.67807; }
  40% { opacity: 0.26559; }
  45% { opacity: 0.84693; }
  50% { opacity: 0.96019; }
  55% { opacity: 0.08594; }
  60% { opacity: 0.20313; }
  65% { opacity: 0.71988; }
  70% { opacity: 0.53455; }
  75% { opacity: 0.37288; }
  80% { opacity: 0.71428; }
  85% { opacity: 0.70419; }
  90% { opacity: 0.7003; }
  95% { opacity: 0.36108; }
  100% { opacity: 0.24387; }
}

@keyframes textShadow {
  0% { text-shadow: 0.4px 0 1px rgba(0,30,255,0.5), -0.4px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  50% { text-shadow: 3.4px 0 1px rgba(0,30,255,0.5), -3.4px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  100% { text-shadow: 0.4px 0 1px rgba(0,30,255,0.5), -0.4px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt {
  animation: textShadow 1.6s infinite;
}

.crt-effect {
  animation: textShadow 10s infinite;
  text-shadow: 0 0 2px #00f, 0 0 5px #00f, 0 0 10px #0ff, 0 0 20px #0ff;
}

.frame {
  padding: 20px;
  background-color: #fff; 
  border: 3px solid #fbbb54;
  box-shadow: inset 0 0 0 6px #fbdb6f, 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 2px auto;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
}

body::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
              linear-gradient(90deg, rgba(255, 0, 0, 0.06),
                                   rgba(0, 255, 0, 0.02),
                                   rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
}

body::after {
  background: rgba(18, 16, 16, 0.1);
  animation: flicker 0.15s infinite;
}

.static {
  background-image: url(./media/night.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.fullscreen-crt {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
  background: transparent;
  animation: textShadow 1.6s infinite;
}

.twinkle {
  width: 100px;
  height: 100px; 
  background-image: url('./media/twinkle.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

/* Footer */
.footer {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
  background-color: #fac62a;
  padding: 10px;
  border: 2px solid #333;
}

.footer p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

/* Clock */
.retro-clock {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.5em;
  color: #ffcc00;
  background-color: #333;
  padding: 10px;
  text-align: center;
  border: 3px solid #ffcc00;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  margin-top: 35px;
  margin-right: 50px;
  margin-left: 50px;
}

/* Carousel */
.carousel {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  position: relative;
  max-width: 480px;
}

.group {
  display: flex;
  gap: 20px;
  will-change: transform;
  animation: scrolling 10s linear infinite;
}

.group img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.carousel:hover .group {
  animation-play-state: paused;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.contact-icons img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.contact-icons img:hover {
  transform: scale(1.1);
}

.group img:hover {
  transform: scale(0.9);
}

/** test **/

.interest-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 20px 0;
  text-align: center;
}

.interest-box {
  background-color: #222;
  border: 2px solid #ffcc00;
  padding: 20px;
  font-size: 0.9em;
  color: #fff;
  box-shadow: 0 0 8px #0ff;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.interest-box:hover {
  transform: scale(1.05);
  background-color: #333;
}

.sidebar-bottom-full {
  grid-column: 1 / 4;
  grid-row: 3;
  padding: 30px;
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
  border: 2px solid #666;
  margin-top: 0;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.portfolio-box {
  background-color: #111;
  border: 3px solid #ffcc00;
  padding: 20px;
  color: #fff;
  box-shadow: 0 0 10px #ffcc00;
  text-align: left;
}

.portfolio-box h3 {
  margin-top: 0;
  font-size: 1em;
}

.portfolio-box p {
  font-size: 0.75em;
  margin-top: 10px;
}

.portfolio-box img {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
  display: block;
  border: 2px solid #00ffff !important;
}

.construction-gallery {
  display: flex;
  justify-content: center; 
  gap: 1rem;               
  flex-wrap: wrap;        
}

.under-construction {
  display: block;
  width: clamp(200px, 30%, 300px);
  height: auto;
}

.interest-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  border: 2px solid #ffcc00;
  padding: 10px;
  color: #fff;
  box-shadow: 0 0 8px #0ff;
  border-radius: 8px;
  transition: transform 0.2s ease;
  text-align: center;
}

.interest-box span {
  margin-bottom: 8px;
  font-size: 0.7em;
  text-align: center;
}

.interest-thumb {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border: 2px solid #ffcc00;
}